#name {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-page {
    color: rgb(103, 98, 107);
    font-size: large;
}

#home_page_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

#about_me_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

.about_text {
    font-size: larger;
}

.links {
    font-weight: bold;
}

.links.back {
    font-size: larger;
}