@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

:root {
    --navy-blue: #14213D;
    --yellow: #FCA311;
    --gray-wave: #e5e5e5;
}

html, body {
    margin: 0px;
    scroll-behavior: smooth;
    overflow: hidden;
    height: 100%;
    animation-name: load-finished;
    animation-duration: 0.1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

.load-wrapper {
    position: fixed;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 100%;
    animation-name: load-wrapper-gone, load-wrapper-minimize;
    animation-duration: 0.5s, 0.2s;
    animation-delay: 6s, 6.3s;
    animation-fill-mode: forwards;
}

#logo {
    width: 40%;
    position: absolute;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo path:nth-child(1) {
    animation-name: fill-anim;
    animation-duration: 2s;
    animation-delay: 4.3s;
    fill-opacity: 0;
    animation-fill-mode: forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 437.65252685546875;
    stroke-dashoffset: 437.65252685546875;
    animation-name: line-anim, stroke-anim;
    animation-duration: 4s, 2s;
    animation-delay: 0.3s, 4.3s;
    animation-fill-mode: forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 525.4954833984375;
    stroke-dashoffset: 525.4954833984375;
    animation-name: line-anim, stroke-anim;
    animation-duration: 4s, 2s;
    animation-delay: 0.3s, 4.3s;
    animation-fill-mode: forwards;
}

@keyframes load-wrapper-gone {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes load-wrapper-minimize {
    to {
        z-index: -999;
        height: 0%;
        width: 0%;
        display: none;
        position: relative;
    }
}

@keyframes load-finished {
    to {
        overflow: auto;
        height: auto;
    }
}

@keyframes stroke-anim {
    to {
        stroke: white;
    }
}

@keyframes fill-anim {
    from {
        fill-opacity: 0;
    }

    to {
        fill-opacity: 1;
    }
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

.mobile-menu .bar {
    width: 18px;
    height: 3px;
    margin: 5px auto;
    transition: all 70ms ease-in-out;
    background: var(--gray-wave);
    border-radius: 10px;
}

.navbar {
    font: 23px 'Quicksand', sans-serif;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    align-self: flex-start;
}

.navbar-logo {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#navbar {
    transition: top 0.3s ease;
}

.navbar a {
    text-decoration: none;
    color: #5f5f5f;
    padding: 20px 20px;
}

.buttons {
    padding: 0;
    list-style-type: none;
}

.buttons li {
    display: inline-block;
}

.introduction {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60vh;
}

.introduction .intro-text {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10vw;
    width: 45vw
}

.intro-text h1 {
    font-size: 50px;
    color: var(--navy-blue);
    margin-bottom: 0px;
}

.intro-text p {
    color: #5f7782;
    font-size: 20px;
}

.introduction p {
    display: inline-block;
}

.profile-image {
    margin-right: 10vw;
    margin-top: 20vw;
}

.about {
    height: 80vh;
    background-color: var(--navy-blue);
    padding: 1px;
    padding-left: 20px;
}

.about h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: var(--yellow);
}

.about p {
    font-family: 'Quicksand', sans-serif;
    color: var(--gray-wave);
    font-size: 18px;
}

.about ul {
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: var(--gray-wave);
    font-size: 18px;
}

.about li::before {
    margin-left: -25px;
    margin-right: 9px;
}

.running-point::before {
    content: '\1F45F';
}

.shows-point::before {
    content: '\1F4FA';
}

.maps-point::before {
    content: '\1F5FA';
}

.minesweeper-point::before {
    content: '\1F6A9';
}

.about li {
    margin-bottom: 16px;
}

.portfolio {
    margin-top: 225px;
}

.portfolio h1{
    text-align: center;
}

.spacer {
    aspect-ratio: 900/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.white-to-blue {
    background-image: url('./assets/shorter-waves-first.svg');
    margin-bottom: -1px;
}

.blue-to-white {
    background-image: url('./assets/shorter-waves-second.svg');
    margin-bottom: -30vh
}

.project-dropdowns {
    max-width: 90vw;
    margin: 2rem auto;
}

.contents {
    position: relative;
    background-color: var(--navy-blue);
    margin: 3rem 0;
    border-radius: 1rem;
}

.dropdown-label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--yellow);
    /* background-color: #ffff; */
    gap: 10px;
    padding: 1.5em;
    line-height: 1rem;
    min-height: 3rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.dropdown-label::after {
    position: absolute;
    content: '\25BE';
    font-size: 1.5rem;
    top: 85%;
    transition: transform 0.2s ease-in-out;
}

.dropdown-label.active::after {
    transform: rotate(-180deg);
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    background-color: #FCA311;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: max-height 0.3s ease-in;
}

.dropdown-content-body {
    padding: 0.5rem;
    line-height: 1rem;
    text-align: center;
}

.dropdown-label h1 {
    margin-bottom: 0.5rem;
}

.tools-used {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.dropdown-content-body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--navy-blue);
}

.portfolio-header {
    font-family: 'Quicksand', sans-serif;
    font-size: 55px;
    color: var(--navy-blue);
}

.image-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    gap: 20px;
    overflow: hidden;
}
  
.image-container {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 200px;
    max-width: 400px;
    overflow: hidden;
}

.image-container-phone {
    flex-grow: 1;
    flex-basis: auto;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
}

.image-table img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.previews video {
    position: relative;
    margin-top: 20px;
    min-width: 100%;
    max-width: 100%;
    cursor: pointer;
    object-fit: cover;
}

.modals {
    display: block;
    background: rgba(0, 0, 0, 0.7);
    z-index: 12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  
    /* To make the element not clickable */
    pointer-events: none;
    transition: 200ms ease-out;
}
  
.modals.open {
    opacity: 1;
    pointer-events: all;
}

.full-media {
    position: absolute;
    max-height: 100vh;
    max-width: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    /* transition: all 250ms ease-out; */
}

.full-video {
    position: absolute;
    max-height: 100vh;
    max-width: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
}

.full-media.open {
    transform: translate(-50%, -50%) scale(0.85);
}

.heart {
    width: 13px;
}

.experience {
    padding-top: 10px;
    background-color: var(--navy-blue);
    padding-bottom: 100px;
}

.experience-header {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: var(--yellow);
    font-size: 50px;

}

.experience-title {
    margin-top: 20px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.slideshow-buttons {
    position: relative;
    gap: 40px;
}

.experience-slideshow-present {
    position: relative;
    width: max(50vw, 200px);
    height: 400px;
    color: #e5e5e5;
}

.experience-img-container {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding-left: 30px;
    transition: background-color 0.5s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.experience-img-container:hover {
    background-color: rgba(133, 133, 133, 0.32);
    transition: all 0.7s ease;
}

.experience-img {
    max-width: 100%;
    max-height: 100%;
}

.slideshow-container {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 50px;
    align-items: center;
    /* background-color: #5f7782; */
}

.experience-descriptions {
    margin: 0;
    list-style-type: square;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 40px;
}

.img-block {
    display: flex;
    flex-direction: column;
}

.skills-used {
    /* position: absolute; */
    bottom: 20px;
    margin: 0;
    padding-top: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-align: center;
    left: 0;
    right: 0;
}

.experience-descriptions li:not(:last-child) {
    margin-bottom: 15px;
}

.experience-slideshow-present::before, .experience-slideshow-present::after {
    position: absolute;
    width: 40px;
    height: 35px;
    content: "";
}

.experience-slideshow-present::before {
    left: 0;
    top: 0;
    border-left: 3px solid var(--gray-wave);
    border-top: 3px solid var(--gray-wave);
}

.experience-slideshow-present::after {
    right: 0;
    bottom: 0;
    border-right: 3px solid var(--gray-wave);
    border-bottom: 3px solid var(--gray-wave);
}

.yellow-bar {
    position: absolute;
    z-index: 9;
    width: 4px;
    height: 120px;
    left: 0; 
    background: var(--yellow);
    display: block;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
    transition: top 0.4s ease-out;
    border-radius: 5px;
}

.gray-bar {
    position: absolute;
    border-radius: 5px;
    z-index: 8;
    width: 4px;
    height: 100%;
    background: #8f8f8f;
    display: block;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
}

.footer {
    font-family: 'Quicksand', sans-serif;
    /* height: 7vh; */
    font-size: 20px; 
    text-align: center;   
}

@media (max-width: 780px) {
    .navbar {
        font: 16px 'Quicksand';
    }

    .about {
        padding-bottom: 50px;
    }

    .experience-title {
        font-size: 18px;
    }

    .skills-used {
        font-size: 15px;
    }

    .experience-descriptions {
        font-size: 16px;
    }
}

@media (max-width: 533px) {

    .intro-text {
        padding-top: 5vh;
    }

    .profile-image {
        padding-top: 5vh;
    }

    .intro-text h1 {
        font-size: 35px;
    }

    .intro-text p {
        font-size: 18px;
    }

    /* .about {
        padding-bottom: 30vh;
    } */

    .navbar {
        padding-right: 20px;
        height: 50px;
    }

    .buttons li {
        display: block;
        margin: 5vh 0;
    }

    .buttons { 
        position: fixed;
        display: grid;
        grid-template-columns: 100%;
        background: var(--yellow);
        margin: 0;
        /* position: absolute ; */
        text-align: center;
        width: 60%;
        height: 100vh;
        top: 0;
        padding-bottom: 0;
        right: -100%;
        opacity: 0;
        transition: all 700ms ease;
    }

    .buttons li {
        /* padding-right: 70px; */
        padding-top: 15px;
    }

    .buttons.active { 
        right: 0;
        opacity: 1;
        transition: all 700ms ease;
    }

    .mobile-menu {
        display: block;
        padding-right: 30px;
        cursor: pointer;
    }

    .mobile-menu .bar {
        display: block;
    }

    .mobile-menu .bar:nth-child(4){
        transform: translateY(-10px) translateX(-10px) rotate(-150deg);
        transition: all 700ms ease-in-out;
    }

    .mobile-menu.is-active .bar:nth-child(4){
        transform: translateY(-10px) translateX(-10px) rotate(-30deg);
        transition: all 700ms ease-in-out;
    }

    .mobile-menu .bar:nth-child(2){
        transform: translateY(6px) rotate(-150deg);
        transition: all 700ms ease-out;
    }

    .mobile-menu.is-active .bar:nth-child(2){
        transform: translateY(6px) rotate(-30deg);
        transition: all 700ms ease-out;
    }

    .mobile-menu .bar:nth-child(1){
        transform: translateY(6px) rotate(-30deg);
        transition: all 700ms ease-in-out;
    }

    .mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(6px) rotate(-150deg);
        transition: all 700ms ease-in-out;
    }

    .mobile-menu .bar:nth-child(3){
        transform: translateY(-10px) translateX(-10px) rotate(-30deg);
        transition: all 700ms ease-in-out;
    }

    .mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-10px) translateX(-10px) rotate(-150deg);
        transition: all 700ms ease-in-out;
    }

    .mobile-menu.is-active {
        z-index: 13;
    }

    .dropdown-label p {
        text-align: center;
        font-size: 0.8rem;
    }

    .dropdown-label h1 {
        line-height: 2rem;
    }

    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
    }

    .navbar.menu-open {
        position: fixed;
    }

    .footer {
        font-size: 13px;
    }

    .about p {
        font-size: 15px;
    }

    .about li {
        font-size: 15px;
    }

    .slideshow-container {
        flex-direction: column;
    }

    .slideshow-buttons {
        margin-bottom: 30px;
        align-items: center;
    }

    .img-block {
        flex-direction: row;
        padding-left: 0;
    }

    .experience-img-container {
        width: 70px;
        height: 80px;
        padding: 0 18px;
    }

    .gray-bar {
        height: 4px;
        width: 100%;
        bottom: 0;
    }

    .yellow-bar {
        height: 4px;
        width: 106px;
        bottom: 0;
        transition: left 0.4s ease-out;
    }

    .experience-slideshow-present {
        width: 97%;
        height: 300px;
    }

    .experience-title {
        font-size: 20px;
    }

    .experience-descriptions {
        font-size: 15px;
    }

    .skills-used {
        font-size: 16px;
    }

    .heart {
        width: 10px;
    }

}

@media (max-width: 405px) {
    .about {
        padding-bottom: 20vh;
    }

    .experience-header {
        font-size: 40px;
    }

    .experience-slideshow-present {
        height: 400px;
    }
}

@media (max-width: 300px) {
    .experience {
        padding-top: 300px;
    }
}